h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	margin-bottom: 0.5rem;
	font-family: $font__headings;
	font-weight: $font-weight-bold;
	line-height: $font__line-height-headings;
	color: $color-neutral;
}

h1, h2,
.h1, .h2 {
	letter-spacing: 0.04rem;
}

h4, h5, h6,
.h4, .h5, .h6 {
	line-height: 1.5;
	letter-spacing: 0.02rem;
}

h1, .h1 {
	font-size: 2.1rem;
}

h2, .h2 {
	font-size: 1.8rem;
	line-height: 1.33;
}

h3, .h3 {
	font-size: 1.5rem;
	letter-spacing: 0.02rem;
	line-height: 1.4;
}

h4, .h4 {
	font-size: 1.2rem;
}

h5, .h5 {
	font-size: 1rem;
}

h6, .h6 {
	font-size: 0.9rem;
}


