.nav-menu,
.nav-menu ul {
	list-style: none;
	margin: 0;
}

#primary-navigation {
	display: flex;
	justify-content: flex-end;

	.nav-menu {
		display: none;

		.sub-menu {
			display: none;
		}

		li {
			position: relative;
		}

		a {
			display: block;
			font-size: 0.75rem;
			font-family: $font__headings;
			font-weight: $font-weight-bold;
			color: #fff;
			padding: 1rem 1.5rem;
		}

		@include respond-to(md) {
			display: flex;
			align-items: center;

			li {
				flex: 1 1 auto;
				text-align: center;
			}

			a {
				position: relative;
				color: $color-neutral;
				padding: 1.675rem 0.25rem;
			}
		}
	}

	.menu-toggle {
		font-size: rem(15);
		text-transform: uppercase;
		padding: rem(16) rem(15);
		min-width: 6.5rem;

		.icon {
			margin-right: 8px;
			font-size: rem(20);
		}

		@include respond-to(md) {
			display: none;
		}
	}	

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	@include create-query(max-width, xs) {
		min-width: 6.5rem;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
